<form class="login-form">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input id="user-name" type="text" class="form-control" aria-describedby="emailHelp">
        <div class="form-text">Enter username here</div>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input id="password" type="password" class="form-control">
    </div>
    <button type="submit" class="btn loginBtn">Login</button>
</form>
<script src="../public/js/style/login.js"></script>